@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    p {
        @apply mb-3
    }
}
 
body {
    background-image: url("images/fondo_intefaz.jpeg");
    background-repeat: no-repeat;
    background-size:cover;

} 